<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>共通ヘッダー付きページ</title>
  <link rel="stylesheet" href="{% static 'css/base/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- 共通ヘッダー -->
  <header>
    <h1>My AI Platform</h1>
    <nav>
      <ul class="nav-menu">
        <li><a href="{% url 'picture_classification:index' %}" data-title="ホーム">ホーム</a></li>
        <li><a href="{% url 'picture_classification:image_recognize' %}" data-title="画像認識">画像認識</a></li>
        <li><a href="{% url 'picture_classification:numeric_analysis' %}" data-title="数値解析">数値解析</a></li>
        <li><a href="{% url 'picture_classification:nlp' %}" data-title="自然言語処理">自然言語処理</a></li>
        <li><a href="{% url 'picture_classification:list' %}" data-title="データ一覧">データ一覧</a></li>
        <li><a href="{% url 'picture_classification:graph' %}" data-title="データ一覧">グラフ</a></li>
      </ul>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>
