{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/list/style.css' %}">
{% endblock %}

{% block content %}
{% include 'search.html' %}
  <section id="list-section">
    <h2>データ一覧</h2>
    <table id="data-table">
      <thead>
        <tr>
          <th>氏名</th>
          <th>年齢</th>
          <th>性別</th>
          <th>学歴</th>
          <th>年収</th>
          <th>就業年数</th>
          <th>借入金額</th>
          <th>家の所有形態</th>
          <th>利用目的</th>
          <th>過去の不履行歴</th>
          <th>ローンステータス</th>
        </tr>
      </thead>
      <tbody id="data-body">
        {% for item in page_obj %}
          <tr class="list">
            <td class="name">{{ item.name }}</td>
            <td class="age">{{ item.age }}歳</td>
            <td class="gender">{{ item.gender }}</td>
            <td class="education">{{ item.education }}</td>
            <td class="income">{{ item.income }}万円</td>
            <td class="emp-exp">{{ item.emp_exp }}年</td>
            <td class="loan-amount">{{ item.loan_amount }}万円</td>
            <td class="home-ownership">{{ item.home_ownership }}</td>
            <td class="loan-intent">{{ item.loan_intent }}</td>
            <td class="loan-amount">{{ item.default }}</td>
            <td class="loan-amount">{{ item.loan_status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="" class="btn btn-primary">csv出力</a>
  </section>
{% include 'page.html' %}
{% endblock %}
