{% extends 'base.html' %}
{% load static %}
{% block content %}

<form action="" method="get">
  <input name="query" value="{{ request.GET.query }}" type="text" />
  <button type="submit">検索する</button>
</form>
  <section id="list-section">
    <h2>データ一覧</h2>
    <table id="data-table">
      <thead>
        <tr>
          <th>氏名</th>
          <th>年齢</th>
          <th>性別</th>
          <th>学歴</th>
          <th>職業</th>
          <th>年収</th>
          <th>借入金額</th>
          <th>過去の借入</th>
          <th>デフォルトリスク</th>
        </tr>
      </thead>
      <tbody id="data-body">
        {% for item in page_obj %}
          <tr class="list">

            <td class="name">{{ item.name }}</td>

            <td class="age">{{ item.age }}</td>

            {% if item.sex == 0 %}
              <td class="sex">男性</td>
            {% else %}
              <td class="sex">女性</td>
            {% endif %}

            {% if item.education == 0 %}
              <td class="education">高卒</td>
            {% elif item.education == 1 %}
              <td class="education">大卒</td>
            {% else %}
              <td class="education">大学院卒</td>
            {% endif %}

            {% if item.occupation == 0 %}
              <td class="occupation">公務員</td>
            {% elif item.occupation == 1 %}
              <td class="occupation">民間企業</td>
            {% else %}
              <td class="occupation">無職</td>
            {% endif %}

            <td class="income">{{ item.income }}</td>

            <td class="loan">{{ item.loan }}</td>

            {% if item.loan_history == 0 %}
              <td class="loan-history">あり</td>
            {% else %}
              <td class="loan-history">なし</td>
            {% endif %}
            
            {% if item.default_pred == 0 %}
              <td class="pred">高い</td>
            {% else %}
              <td class="pred">低い</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% include 'page.html' %}
{% endblock %}
