{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/numeric_analysis/style.css' %}">
{% endblock %}

{% block content %}
  <section id="input-section">
    <h2>データを入力</h2>
    <form id="data-form" action="{% url 'picture_classification:numeric_analysis'%}" method="post">
      {% csrf_token %}

      <label for="name">氏名:</label><br>
        <input type="text" id="name" name="name" /><br>
      
      <label for="age">年齢:</label><br>
        <input type="number" id="age" name="age" /><br>
      
      <label for="sex-select">性別:</label><br>
        <select name="sex" id="sex-select">
          <option value="">--選択してください--</option>
          <option value="0">男性</option>
          <option value="1">女性</option>
        </select><br>

      <label for="education-select">学歴:</label><br>
        <select name="education" id="education-select">
          <option value="">--選択してください--</option>
          <option value="0">高卒</option>
          <option value="1">大卒</option>
          <option value="2">大学院卒</option>
        </select><br>
      

      <label for="occupation-select">職業:</label><br>
        <select name="occupation" id="occupation-select">
          <option value="">--選択してください--</option>
          <option value="0">公務員</option>
          <option value="1">民間企業</option>
          <option value="2">無職</option>
        </select><br>

      <label for="income">年収:</label><br>
        <input type="number" id="income" name="income"/><br>

      <label for="loan">借入金額:</label><br>
        <input type="number" id="loan" name="loan"/><br>

      <label for="loan-history-select">過去の借入歴:</label><br>
        <select name= "loan-history" id="loan-history-select">
          <option value="">--選択してください--</option>
          <option value="0">あり</option>
          <option value="1">なし</option>
        </select><br>

      <br><br>
      <button type="submit">保存</button>
    </form>
  </section>
{% endblock %}