<!--
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_other_pages %}
    <nav class="d-flex justify-content-center"></nav>
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">前へ</a>
      </li>
      {% else %}
      <li>
        <a href=""></a>
      </li>
      {% endif %}

      <span class="current">
          {{ page_obj.number }}ページ
      </span>

      {% if page_obj.has_next %}
      <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">次へ</a>
      </li>
          <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">最後へ &raquo;</a>
      {% endif %}
    </nav>
    {% endif %}
  </span>
</div>
-->

{% if page_obj.has_other_pages %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a>
  {% endif %}
  {% for p in page_number_list %}
    {% if page_obj.number == p %}
      <a href="?page={{p}}" class="active">{{p}}</a>
    {% elif p == page_obj.paginator.ELLIPSIS %}
      <a href="#">{{p}}</a>
    {% else %}
      <a href="?page={{p}}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{p}}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
  {% endif %}
</div>
{% endif %}
